h1{
    color: rebeccapurple ;
}
img{
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: rgb(174, 63, 218);
    padding: 50px;
    border: double white 50px; 
}
#spanId{
    margin: 50px;
}